@charset "UTF-8";

:root {
  --grey-4d4: #4d4f53;
  --grey-525: #525f7f;
  --grey-5f6: #5f6b73;
  --grey-666: #666666;
  --grey-7f8: #7f8592;
  --grey-8b8: #8b8d8e;
  --grey-949: #94989a;
  --grey-aab: #aab5aa;
  --grey-bcb: #bcbbcb;
  --grey-ccc: #cccccc;
  --grey-c0c: #c0c4cc;
  --grey-c9c: #c9caca;
  --grey-d0d: #d0d7d0;
  --grey-dcd: #dcdfe6;
  --grey-dfe: #dfe4df;
  --grey-dee: #dee2e6;
  --grey-e1e: #e1e1e1;
  --grey-e3e: #e3e7e3;
  --grey-e8e: #e8ebef;
  --grey-e9e: #e9ecef;
  --grey-ebe: #ebebeb;
  --grey-f5f: #f5f7fa;
  --grey-f6f: #f6f7f6;
  --grey-f7f: #f7f8f8;
  --fc-event-bg-color: #027ac4;
  --fs13: 13px;
  --fs14: 14px;
  --fs15: 15px;
  --fs16: 16px;
  --fs17: 17px;
  --fs18: 18px;
  --fs20: 20px;
  --fs24: 24px;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem을 10px로 변환 (원래는 16px) */
  -webkit-text-size-adjust: 100%;
  /* 글꼴 크기 조정 방지 */
  -webkit-font-smoothing: antialiased;
  /* 폰트를 부드럽게 */
  -moz-osx-font-smoothing: grayscale;
  /* 폰트를 부드럽게 */
  -webkit-tap-highlight-color: transparent;
}

.dark-mode body {
  background-color: #091a28;
  color: #ebf4f1;
}

.sepia-mode body {
  background-color: #f1e7d0;
  color: #433422;
}

body {
  min-height: 100vh;
  width: 100%;
  min-width: 320px;
}

li,
ul,
ol {
  list-style: none;
}

b,
strong {
  font-weight: bolder;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}

input:focus {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select {
  font-family: 'NotoSansKR', 'univers', arial, Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
  letter-spacing: -1px;
}
.p-3 {
  padding: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

body {
  background-color: var(--grey-e8e);
}

section.wrap {
  height: 100vh;
}

.el-main {
  padding: 0 !important;
}

.flex-grow {
  flex-grow: 1;
}

.el-header {
  padding: 0 !important;
}

.btn {
  position: relative;
  text-transform: none;
  letter-spacing: 0.025em;
  font-size: 0.875rem;
  will-change: transform;
  display: inline-block;
  font-weight: 600;
  color: #525f7f;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.625rem 1.25rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  word-break: keep-all;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-neutral {
  color: #212529;
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn:hover {
  transform: translateY(-1px);
}

.el-input__wrapper {
  background-color: unset !important;
}
.el-input.is-disabled .el-input__wrapper {
  background-color: var(--el-fill-color-light) !important;
}

.el-select__wrapper {
  height: 40px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.7rem;
  max-height: 100%;
}

.card .card-header {
  display: flex;
  align-items: center;
  height: 75px;
  padding: 2rem 3rem;
  margin-bottom:0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.card .card-body {
  max-height: calc(100vh - 259px);
  overflow-y: auto;
}

.card .card-footer {
  height: 60px;
  padding: 1.25rem 2.7rem;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.card-header h3, .title-area h2, .title-area h3 {
  margin-bottom: 0;
  font-size: 24px;
  font-size: var(--fs24);
  font-weight: 700;
  white-space: nowrap;
}

.justify-content-center {
  justify-content: center !important;
}

.d-flex {
  display: flex !important;
}

table {
  width: 100%;
  color: #212529;
  border-collapse: collapse;
  border-top: 3px solid #212529;
}

table th {
  text-align: center;
  background: var(--grey-f6f) !important;
  padding: 18px 10px;
  border-left: 1px solid var(--grey-dfe) !important;
  font-size: var(--fs14) !important;
  white-space: normal;
  font-weight: 600;
}

table th:first-child {
  border-left: 0 !important;
}

th, td {
  vertical-align: middle;
}

.table-horizontal th, .table-horizontal td {
  padding: 1.8rem 3rem;
  font-size: var(--fs16) !important;
  white-space: normal;
  border-left: 1px solid var(--grey-dfe) !important;
  border-top: 1px solid #e9ecef;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 9px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  width: 100%;
  border-radius: 8px;
  background: var(--grey-aab);
}
::-webkit-scrollbar-track {
  border-radius: 8px;
}
